/ejercicio_04/build/
/ejercicio_04/nbproject/private/
/ejercicio_03 y 04/build/
/ejercicio_03 y 04/nbproject/private/
/ejercicio_extra_02/nbproject/private/
/ejercicio_extra_02/build/
/ejercicio_extra_03/nbproject/private/
/ejercicio_extra_03/build/
/ejercicio_extra_04/nbproject/private/
/ejercicio_extra_04/build/